@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root {
    --bg-color: #212529;
    --main-color: #42c9c1;
    --secondary-color: #025d47;
    --text-color: #ffffff;
}

body {
    padding-top: 3.5rem;
}

section {
    scroll-margin-top: 6.6rem;
}


.logo-text-primary {
    color: var(--main-color);
}

@media (min-width: 768px) {
    .navbar-brand {
        transition: 0.3s ease-in-out;
    }

    .navbar-brand:hover {
        transform: scale(1.1);
    }
}

.navbar-nav {
    gap: 2rem;
}

@media (max-width: 768px) {
    .navbar-nav {
        gap: 0.5rem;
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        gap: 0.3rem;
    }
}

.btn-primary {
    background: linear-gradient(110deg, var(--main-color), var(--secondary-color));
}

@media (min-width: 768px) {
    .btn-primary {
        transition: 0.6s ease-in-out;
    }

    .btn-primary:hover {
        transform: scale(1.05);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wave-emoji {
    display: inline-block;
    animation: wave 2s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
}


.my-name {
    color: var(--main-color);
}

.about-me {
    font-weight: 300;
    line-height: 1.65;
}

.typed-text {
    color: var(--main-color);
}

.profile-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

@media (min-width: 768px) {
    .profile-img img:hover {
        box-shadow: 0 0 25px var(--main-color),
            0 0 50px var(--main-color),
            0 0 100px var(--main-color);
    }
}

@media (max-width: 991px) {
    .profile-img img {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .profile-img img {
        width: 50vw;
    }
}

.social-icons a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    padding: .6rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 1rem 0.6rem 0rem 0.6rem;
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .social-icons a:hover {
        color: var(--text-color);
        background-color: var(--main-color);
        transform: scale(1.2) translateY(-5px);
        box-shadow: 0 0 25px var(--main-color);
    }
}

.portfolio-btn-primary {
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    border-radius: 3rem;
    font-size: 1.2rem;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .portfolio-btn-primary:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px var(--main-color),
            0 0 30px var(--main-color);
    }
}

.card .card-title {
    color: var(--main-color);
}

.rotating {
    display: inline-block;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.git-project-icons a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: .6rem;
    margin: .7rem 0 0.4rem 0;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .git-project-icons a:hover {
        color: var(--text-color);
        background-color: var(--main-color);
        transform: scale(1.2) translateY(-4px);
        box-shadow: 0 0 15px var(--main-color);
    }
}

.card-small-title {
    color: var(--main-color);
}

@media (min-width: 768px) {
    .project-card {
        transition: 0.3s ease-in-out;
    }

    .project-card:hover {
        transform: scale(1.02) translateY(-4px);
        box-shadow: 0 0 15px var(--main-color);
    }
}

.portfolio-btn-secondary {
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 20px transparent;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.portfolio-btn-secondary:hover {
    /* transform: scale(1.05); */
    background-color: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    color: var(--bg-color);
}

.btn-certificate {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 20px transparent;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn-certificate:hover {
    background-color: var(--main-color);
    /* box-shadow: 0 0 15px var(--main-color); */
    color: var(--bg-color);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: 0.3s ease-in-out;
    width: 100%;
    height: auto;
}

.image-container:hover img {
    filter: blur(2px) brightness(0.8);
}

.image-container .btn-certificate {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.4s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    text-align: center;
    z-index: 10;
    display: inline-block;
}

.image-container:hover .btn-certificate {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

.icon-row {
    gap: 10px;
}

.icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    /* border: 1px solid rgba(60,201,193,0.3); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    background: var(--bg-color);
}

.icon-wrapper svg {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.icon {
    width: 50%;
    height: 50%;
    z-index: 1;
}

@media (max-width: 768px) {
    .icon-wrapper {
        width: 85px;
        height: 85px;
    }

    .icon-wrapper svg {
        width: 51%;
        height: 51%;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.icon-wrapper::after,
.icon-wrapper::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    background-image: conic-gradient(from var(--angle), transparent 75%, var(--main-color));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 50%;
    animation: 3s spin linear infinite;
}

.icon-wrapper::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg
    }
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-addressing {
    font-size: 1rem;
    font-weight: 100;
}

.send-icon {
    color: var(--main-color);
    font-size: 1.5rem;
    display: inline-block;
    animation: moveSendIcon 3s ease-in-out infinite;
}

@keyframes moveSendIcon {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(25px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

.footer-icon {
    color: var(--main-color);
    font-size: 1.8rem;
    margin-right: 1.2rem;
}

.copyright {
    font-size: 0.925rem;
}