@import "tailwindcss";

/* Core theme variables */
:root {
  --background: #010102;
  --foreground: #eeeeee;
  --primary: #eeeeee;
  --primary-foreground: #010102;
  --secondary: #111114;
  --secondary-foreground: #cecece;
  --muted: #111114;
  --muted-foreground: #808080;
  --accent: #00ccb2;
  --accent-foreground: #010102;
  --radius: 0.5rem;
  --border: #1a1a1d;
  --card: #060607;
  --card-foreground: #eeeeee;
}


/* Font mapping */
@theme inline {
  --font-inter: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

/* Base styles */
@layer base {
  body {
    @apply bg-background text-foreground;

    cursor: none;
  }

  a,
  button,
  [role="button"] {
    cursor: none;
  }

  img {
    isolation: isolate;
  }
}