@import "tailwindcss";

/* Core theme variables */
:root {
  --background: rgb(1, 1, 2);
  --foreground: rgb(238, 238, 238);
  --primary: rgb(238, 238, 238);
  --primary-foreground: rgb(1, 1, 2);
  --secondary: rgb(17, 17, 20);
  --secondary-foreground: rgb(206, 206, 206);
  --muted: rgb(17, 17, 20);
  --muted-foreground: rgb(128, 128, 128);
  --accent: rgb(0, 204, 178);
  --accent-foreground: rgb(1, 1, 2);
  --radius: 0.5rem;
  --border: rgb(26, 26, 29);
  --card: rgb(6, 6, 7);
  --card-foreground: rgb(238, 238, 238);
}


/* Font mapping */
@theme inline {
  --font-inter: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

/* Base styles */
@layer base {
  body {
    @apply bg-(--background) text-(--foreground);

    cursor: none;
  }

  a,
  button,
  [role="button"] {
    cursor: none;
  }

  img {
    isolation: isolate;
  }
}

html {
  scroll-behavior: smooth;
}